@model List<green_space.Models.Plant>
@{
    ViewData["Title"] = "Plants";
}
<div class="about-desc">
        <h2>
            Australia's ecosystems are influenced by a variety of climates and environments and tend to be stable
            Australian plants have also adapted to their environment. These factors should be taken into account
            when considering what to plant,and plants are classified into the following categories based on form
            and size.
        </h2>
        
        <p>
            1.Trees generally have a single trunk,are self supporting and are over 6 metres tall</p>
            <p>
            2.Shrubs these often have multiple woody stems and are categorised as over 1 m and under 1 m</p>
            <p>
            3.Ground covers generally under 1 metre and can be prostrate,dwarf or herbaceous plants</p>
            <p>
            4.Grasses and clumping plants are generally herbaceous with the distinctive flowing shape of grasses</p>
            <p>
            5.Vines and scramblers adapted to either growing up or out across the ground</p>
            <p>
            6.Ferns those plants without flowers,reproducing with spores</p>
            <p>
            7.Other this picks up wetland plants and many others that don't fit into the above categories</p>
            
        </p>
        
        <h2>
           Use the search feature in the table below to find plants of interest and then click on a plant's title to view
           plant details.
        </h2>
    </div>

<section>
    <h1>Plants</h1>
    <table id="datatable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Latin Name</th>
                <th>Common Name</th>
                <th>Family</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plant in Model)
            {
                <tr>
                    <td>@plant.LatinName</td>
                    <td>@plant.CommonName</td>
                    <td>@plant.Family.Name</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Latin Name</th>
                <th>Common Name</th>
                <th>Family</th>
            </tr>
        </tfoot>
    </table>
</section>

@section style {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
}

@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script>$(document).ready(function () {
            $('#datatable').DataTable();
        });</script>
}