@{
    ViewData["Title"] = "About us";
}
<div class="profile-container">
    <h1 class="text-center about-initially-header">About Green Space</h1>
    <div class="about-desc">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis, erat ut malesuada sagittis, urna nunc fermentum ipsum, ac cursus metus nibh et velit. Phasellus scelerisque euismod tincidunt. Nam ac aliquam dolor. Ut elit ex, ornare vel viverra nec, volutpat nec odio. Nulla euismod ultrices tortor et lobortis. Curabitur ultricies lorem libero, porta dignissim augue dignissim egestas. Ut condimentum pharetra consequat. Nulla sed malesuada metus, ac accumsan erat.</p>
        <p></p>
    </div>

    <h2 class="text-center about-secondary-header">Future Vision</h2>

    <div class="about-desc">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis, erat ut malesuada sagittis, urna nunc fermentum ipsum, ac cursus metus nibh et velit. Phasellus scelerisque euismod tincidunt. Nam ac aliquam dolor. Ut elit ex, ornare vel viverra nec, volutpat nec odio. Nulla euismod ultrices tortor et lobortis. Curabitur ultricies lorem libero, porta dignissim augue dignissim egestas. Ut condimentum pharetra consequat. Nulla sed malesuada metus, ac accumsan erat.</p>
    </div>

    <h2 class="text-center about-secondary-header">Our Team</h2>

    <div class="about-desc">
        <p><span class="team-name">Urban Green Futures</span> is ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis, erat ut malesuada sagittis, urna nunc fermentum ipsum, ac cursus metus nibh et velit. Phasellus scelerisque euismod tincidunt. Nam ac aliquam dolor. Ut elit ex, ornare vel viverra nec, volutpat nec odio. Nulla euismod ultrices tortor et lobortis. Curabitur ultricies lorem libero, porta dignissim augue dignissim egestas. Ut condimentum pharetra consequat. Nulla sed malesuada metus, ac accumsan erat.</p>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
            <div class="profile-card">
                <img class="profile-card-image" src="~/image/profile-sample.jpg" />
                <h3 class="profile-card-name text-center">My Name</h3>
                <h4 class="profile-card-position text-center">Web Developer</h4>
                <p class="profile-card-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam sagitti. erat ut malesuada sagittis, urna nunc fermentum ipsum,
                </p>
            </div>
        </div>
        <div class="col">
            <div class="profile-card">
                <img class="profile-card-image" src="~/image/profile-sample.jpg" />
                <h3 class="profile-card-name text-center">My Name</h3>
                <h4 class="profile-card-position text-center">Web Developer</h4>
                <p class="profile-card-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam sagittis, erat ut malesuada sagittis, urna nunc fermentum ipsum,
                </p>
            </div>
        </div>
        <div class="col">
            <div class="profile-card">
                <img class="profile-card-image" src="~/image/profile-sample.jpg" />
                <h3 class="profile-card-name text-center">My Name</h3>
                <h4 class="profile-card-position text-center">Web Developer</h4>
                <p class="profile-card-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam sagittis, erat ut malesuada sagittis, urna nunc fermentum ipsum,
                </p>
            </div>
        </div>
        <div class="col">
            <div class="profile-card">
                <img class="profile-card-image" src="~/image/profile-sample.jpg" />
                <h3 class="profile-card-name text-center">My Name</h3>
                <h4 class="profile-card-position text-center">Web Developer</h4>
                <p class="profile-card-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Etiam sagittis, erat ut malesuada sagittis, urna nunc fermentum ipsum,
                </p>
            </div>
        </div>
    </div>
</div>