@{
    ViewData["Title"] = "About us";
}
<div class="profile-container">
    <h1 class="text-center about-initially-header">About Green Space</h1>
    <div class="about-desc">
        <p>
            “The 2030 Agenda for Sustainable Development, adopted by all United Nations Member States in 2015, provides
            a shared blueprint for peace and prosperity for people and the planet, now and into the future. At its heart
            are the 17 Sustainable Development Goals (SDGs), which are an urgent call for action by all countries -
            developed and developing - in a global partnership. They recognize that ending poverty and other deprivations
            must go hand-in-hand with strategies that improve health and education, reduce inequality, and spur economic
            growth – all while tackling climate change and working to preserve our oceans and forests.”
        </p>
        <p class="text-end">
            - United Nations General Assembly (United Nations, 2022)
        </p>
        <p>
            In these 17 goals, the 11th goal focuses on “Sustainable Cities and Communities” (United Nations, 2022), and
            the seventh target of this goal is to “provide universal access to safe, inclusive and accessible, green and
            public spaces, in particular for women and children, older persons and persons with disabilities”
            (United Nations, 2022).
        </p>
    </div>

    <h2 class="text-center about-secondary-header">Future Vision</h2>

    <div class="about-desc">
        <p>
            On this site we aim to explore how everybody can contribute to making Urbanised environments greener. While
            it may be in the hands of governments and city councils to make parks, playgrounds, and plant trees and
            plants around the community, everyone can find a way to contribute to the green spaces they have access to.
            Whether you live in a small apartment, a clustered unit block, or even a small home, everyone should have
            access to the knowledge that allows them to make their own space greener. The benefits are numerous,
            including physical health benefits, mental health benefits, and social benefits.
        </p>
        <p>
            Especially now, with the world recovering from this generations greatest test, it is important to know how
            to look after yourself, but we aim here to not only provide a way to greenify your own life, but a way to
            build a community that thrives in the brand new urbanised green spaces created in the wake of knowledge used
            from this site. We look forward to sharing this journey with you, and you can meet and learn more about the
            team below.
        </p>
    </div>

    <h2 class="text-center about-secondary-header">Our Team</h2>

    <div class="about-desc">
        <p>
            <span class="team-name">Urban Green Futures</span> a team of IT professionals working to deliver a community
            driven solution to the reduction of Green Space in Melbourne’s urban areas, get to know us all individually
            below.
        </p>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
            <div class="profile-card">
                <img class="profile-card-image" src="~/image/Stuart.jpg" />
                <h3 class="profile-card-name text-center">Stuart Mills</h3>
                <h4 class="profile-card-position text-center">Data Engineer</h4>
                <p class="profile-card-desc">
                    Master of Data Science at Monash University to explore Machine Learning and AI, 
                    as it was becoming a more relevant field throughout the IT industry. 
                </p>
            </div>
        </div>
        <div class="col">
            <div class="profile-card">
                <img class="profile-card-image" src="~/image/Hongzhi.jpg" />
                <h3 class="profile-card-name text-center">Hongzhi Tian</h3>
                <h4 class="profile-card-position text-center">Web Developer</h4>
                <p class="profile-card-desc">
                    Master of Information Technology of Monash University. 
                    Focus on website development.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="profile-card">
                <img class="profile-card-image" src="~/image/Rongxiang.jpg" />
                <h3 class="profile-card-name text-center">Rongxiang Wei</h3>
                <h4 class="profile-card-position text-center">Web Developer</h4>
                <p class="profile-card-desc">
                    As a Business Information Systems student, 
                    Rongxiang is responsible for project governance and UI/UX of the website in the project
                </p>
            </div>
        </div>
        <div class="col">
            <div class="profile-card">
                <img class="profile-card-image" src="~/image/ShenChen.jpg" />
                <h3 class="profile-card-name text-center">Shen Chen</h3>
                <h4 class="profile-card-position text-center">Web Developer</h4>
                <p class="profile-card-desc">
                    Shen is dedicated to becoming a Full-Stack Developer in the IT field 
                    after finishing his Network and Security undergraduate degree at Monash University in 2018.
                </p>
            </div>
        </div>
    </div>
</div>