@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Green Space</h1>
            <p class="lead">
                use the map to find the green space you want to visit!
            </p>
            <p class="lead">
                Also, relevant facilities will be shown on the map!
            </p>
            <a href="#" class="index-btn text-white">View the map</a>
        </div>
        <div class="col">
            <img src="image/index-circle.png"/>
        </div>
    </div>
</div>