@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-xxl-6">
            <div class="index-container">
                <h1 class="index-header text-center">Green Space</h1>
                <p class="lead text-center">
                    use the map to find the green space you want to visit!
                </p>
                <p class="lead text-center">
                    Also, relevant facilities will be shown on the map!
                </p>
                <a asp-controller="Home" asp-action="Coming" class="index-btn text-white text-center">View the map</a>
            </div>
        </div>
        <div class="col-xxl-6">
            <div class="index-image-container">
                <img class="index-image" src="image/index-circle.png" />
            </div>
        </div>
    </div>
</div>